<div class="container">
  <h2>Sections</h2>
  <div class="items">
    <div class="item">
      <div class="content">
        <div class="item__icon">
          <img src="01.svg" alt="service" />
        </div>
        <h4 class="item__title">Section 1</h4>
      </div>
      <div class="buttons">
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="item__icon">
          <img src="02.svg" alt="service" />
        </div>
        <h4 class="item__title">Section 2</h4>
      </div>
      <div class="buttons">
        <button>6</button>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>10</button>
        <button>11</button>
        <button>12</button>
        <button>13</button>
        <button>14</button>
        <button>15</button>
      </div>
    </div>
  </div>
</div>
