body {
  font-family: "Poppins";
  font-weight: 300;
  color: #9c9c9c;
  background-color: #0d0d11;
  --green-color: #5cc97b;
  --blue-color: #3d96f4;
  --orange-color: #ff6d35;
  --yellow-color: #ffc54f;
}
h2 {
  font-size: 56px;
  text-align: center;
}
button {
  display: inline-block;
  text-align: center;
  padding: 5px 20px;
  background-color: var(--blue-color);
  border-radius: 50px;
  color: #ffffff;
  letter-spacing: 2px;
  font-style: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease 0s;
  line-height: 1.4;
  text-decoration: none;
  border: none;
}
button:hover {
  background-color: #65aaf4;
}
